{% extends 'base.html' %} {% block content %}

<div class="layout d-flex flex-column min-vh-100">
  <header class="pt-4 pb-4 border-bottom">
    <div class="container-xl">
      <div class="row">
        <h1 class="col-md-3 h3">PlanAcad</h1>
        <h2 class="col-md-9 h5 d-flex align-items-center">
          <span class="text-truncate">
            Universidad Tecnológica Nacional - Complejidad y Técnicas de diseño
            de algoritmos</span
          >
        </h2>
      </div>
    </div>
  </header>
  <div class="bg-light flex-grow-1">
    <div class="container-xl">
      <button
        class="btn mt-2 collapseButton"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSidebar"
        aria-expanded="false"
        aria-controls="collapseSidebar"
      >
        {% include "iconos/arrow-left.html" with size=30 %}
      </button>
      <div class="row">
        <aside
          class="layout__sidebar col-3 py-3 px-2 show collapse"
          id="collapseSidebar"
        >
          <h2 class="visually-hidden">Secciones</h2>

          <nav>
            <ol>
              <a
                href="./datos-descriptivos"
                class="active"
                title="Datos descriptivos"
                ><li>Datos descriptivos</li></a
              >
              <a
                href="./estructura-de-la-catedra"
                class=""
                title="Estructura de la cátedra"
                ><li>Estructura de la cátedra</li></a
              >
              <a
                href="./fundamentacion"
                class="{% if '/fundamentacion' in url %} active {% endif %}"
                title="Fundamentación"
                ><li>
                  <div class="text-truncate">Fundamentación</div>
                </li></a
              >

              <a
                href="./resultados-de-aprendizaje"
                class="
                  {%
                  if
                  '/resultados-de-aprendizaje'
                  in
                  url
                  %}
                  active
                  {%
                  endif
                  %}
                "
                title="Resultados de aprendizaje prprevios para iniciar/continuar el desarrollo de los RA de la asignatura en relacion con el nivel de aporte a las sub-competencias y competencias"
                ><li>
                  <div class="text-truncate">
                    Resultados de aprendizaje prprevios para iniciar/continuar
                    el desarrollo de los RA de la asignatura en relacion con el
                    nivel de aporte a las sub-competencias y competencias
                  </div>
                </li></a
              >

              <a href="#" class="" title="Competencias y capacidades vinculadas con la asignatura"><li>
                <div class="text-truncate">
                  Competencias y capacidades vinculadas con la asignatura
                </div></li></a>
              <a href="#" class="" title="-"><li>-</li></a>

              <a
                href="{% url 'planificaciones:sistemaDeEvaluacion' planificacion.id %}"
                class=""
                title=""
                ><li>
                  <div class="text-truncate">Sistema de evaluación</div>
                  <ol>
                    <a
                      href="{% url 'planificaciones:aprobacionDirecta' planificacion.id %}"
                      class=""
                      title=""
                    >
                      <li>Condición aprobación directa</li>
                    </a>
                    <a
                      href="{% url 'planificaciones:aprobacionCursada' planificacion.id %}"
                      class=""
                      title=""
                    >
                      <li>Condición aprobación cursada</li>
                    </a>
                  </ol>
                </li>
              </a>
            </ol>
          </nav>
        </aside>
        <main class="col seccion px-4">
          {% block seccion %} replace me {% endblock %}
        </main>
      </div>
    </div>
  </div>
</div>
{% endblock %}
