{% extends 'base.html' %} {% block content %}
{% load util %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>
<div class="layout d-flex flex-column min-vh-100">
    {% include "layouts/navbar.html" with ano=planificacion.fecha_creacion.year %}
    <div class="bg-light flex-grow-1">
        <div class="container-xl">
            <button
                class="btn mt-2 collapseButton"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSidebar"
                aria-expanded="false"
                aria-controls="collapseSidebar"
            >
                {% include "iconos/arrow-left.html" with size=30 %}
            </button>
            <div class="row">
                <aside
                    class="layout__sidebar col-3 py-3 px-2 show collapse"
                    id="collapseSidebar"
                >
                    <div class="planif-state-card 
                    {% if planificacion.estado == "A" %} planif-state-card--aprobado {% endif %}
                    {% if planificacion.estado == "R" %} planif-state-card--revision {% endif %}
                    {% if planificacion.estado == "C" %} planif-state-card--correccion {% endif %}
                    " style="position: initial;">
                    <p>{{ planificacion.get_estado_display }}</p>
                    </div>
                    <h2 class="visually-hidden">Secciones</h2>

                    <nav>
                        <ol>
                            <a
                                href="{% url 'planificaciones:datosDescriptivos' planificacion.id %}"
                                class="active"
                                title="Datos descriptivos"
                                ><li class="section__title">
                                    Datos descriptivos 
                                    {% if "1" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li></a
                            >
                            <a
                                href="{% url 'planificaciones:detallesprofesorcatedra' planificacion.id %}"
                                class=""
                                title="Estructura de la cátedra"
                                class="section__title"
                                ><li>Estructura de la cátedra
                                    {% if "2" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li></a
                            >
                            <a
                                href="{% url 'planificaciones:fundamentacion' planificacion.id %}"
                                class="
                                    {%
                                    if
                                    '/fundamentacion'
                                    in
                                    url
                                    %}
                                    active
                                    {%
                                    endif
                                    %}
                                "
                                title="Fundamentación"
                                ><li class="section__title">
                                    Fundamentación
                                    {% if "3" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li></a
                            >

                            <a
                                href="  {% if planificacion.asignatura.ano == '1' %}
                                        {% url 'planificaciones:resultadosDeAprendizajesAnteriorPrimerNivel' planificacion.id %}
                                        {%else%}
                                        {% url 'planificaciones:resultadosDeAprendizajes' planificacion.id %}
                                        {%endif%}
                                        "
                                class="
                                    {%
                                    if
                                    '/resultados-de-aprendizaje'
                                    in
                                    url
                                    %}
                                    active
                                    {%
                                    endif
                                    %}
                                "
                                title="Resultados de aprendizaje prprevios para iniciar/continuar el desarrollo de los RA de la asignatura en relacion con el nivel de aporte a las sub-competencias y competencias"
                                ><li class="section-title">
                                    Resultados de aprendizaje previos
                                    {% if "4" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li></a
                            >

                            <a
                                href="{% url 'planificaciones:competencias' planificacion.id %}"
                                class=""
                                title="Competencias y capacidades vinculadas con la asignatura"
                            >
                                <li>Competencias y capacidades
                                    {% if "5" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li></a
                            >

                            <a
                                href="{% url 'planificaciones:propuestaDesarrollo' planificacion.id %}"
                                class=""
                                title="Propuestas para el desarrollo"
                            >
                                <li>Propuestas para el desarrollo
                                    {% if "6" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li></a
                            >
                            <a
                                href="{% url 'planificaciones:sistemaDeEvaluacion' planificacion.id %}"
                                class=""
                                title=""
                                ><li>
                                    Sistema de evaluación
                                    {% if "7" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                    <ol>
                                        <a
                                            href="{% url 'planificaciones:aprobacionDirecta' planificacion.id %}"
                                            class="p-1 pt-0"
                                            title=""
                                        >
                                            <li>
                                                Condición aprobación directa
                                                {% if "7.1" in correccionesEnSecciones %}
                                                <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                                        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                                    </svg>
                                                </span>
                                                {% endif %}
                                            </li>
                                        </a>
                                        <a
                                            href="{% url 'planificaciones:aprobacionCursada' planificacion.id %}"
                                            class="p-1"
                                            title=""
                                        >
                                            <li>
                                                Condición aprobación cursada
                                                {% if "7.2" in correccionesEnSecciones %}
                                                <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                                        <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                                    </svg>
                                                </span>
                                                {% endif %}
                                            </li>
                                        </a>
                                    </ol>
                                </li>
                            </a>
                            <a
                                href="{% url 'planificaciones:cronograma' planificacion.id %}"
                                class=""
                                title="Webgrafia"
                                ><li>Cronograma
                                    {% if "8" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li>
                            </a>
                            <a
                                href="{% url 'planificaciones:bibliografia' planificacion.id %}"
                                class=""
                                title="Bibliografia"
                                ><li>Biliografia
                                    {% if "9" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li>
                            </a>
                            <a
                                href="{% url 'planificaciones:webgrafia' planificacion.id %}"
                                class=""
                                title="Webgrafia"
                                ><li>Webgrafia
                                    {% if "10" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li>
                            </a>
                            <a
                                href="{% url 'planificaciones:contenido' planificacion.id %}"
                                class=""
                                title="-"
                                ><li>Contenido
                                    {% if "11" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li></a
                            >
                            <a
                                href="{% url 'planificaciones:distribucionDeTareas' planificacion.id %}"
                                class=""
                                title="Distribución de Tareas"
                            >
                                <li>Distribución de tareas
                                    {% if "12" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li>
                            </a>

                            <a
                                href="{% url 'planificaciones:justificacionOrdenanza' planificacion.id %}"
                                class=""
                                title="Justificacion ordenanza"
                                ><li>Justificación ordenanza 604
                                    {% if "13" in correccionesEnSecciones %}
                                    <span data-toggle="tooltip" data-placement="right" title="Hay observaciones a resolver">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                          </svg>
                                    </span>
                                    {% endif %}
                                </li></a
                            >
                        </ol>

                        <hr >
                        <a
                        href="{% url 'planificaciones:exportar' planificacion.id %}"
                        class=""
                        title="EXPORTAR PLANIFICACION"
                        >
                        <div style="display: flex; align-items: center;">
                            <svg style="margin-right: 10px; margin-left: 5px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                            EXPORTAR PLANIFICACION
                        </div>
                        </a>
                        {% if planificacion.estado == "P" %} 
                        {% if request.user|has_group:"profesor" %}
                            <a
                            href="{% url 'planificaciones:revisarPlanif' planificacion.id %}"
                            class=""
                            title="REVISAR PLANIFICACION"
                            >
                            <div style="display: flex; align-items: center;">
                                REVISAR PLANIFICACION
                            </div>
                            </a>   
                        {% endif %}
                      {% endif %}
                      {% if planificacion.estado == "R" %}
                        {% if request.user|has_group:"consejo" or request.user|has_group:"jefe de carrera"%}
                            <a
                            href="{% url 'planificaciones:aprobarPlanif' planificacion.id %}"
                            class=""
                            title="APROBAR PLANIFICACION"
                            >
                            <div style="display: flex; align-items: center;">
                                APROBAR PLANIFICACION
                            </div>
                            </a>   
                            
                            <a
                            href="{% url 'planificaciones:corregirPlanif' planificacion.id %}"
                            class=""
                            title="CORREGIR PLANIFICACION"
                            >
                            <div style="display: flex; align-items: center;">
                                CORREGIR PLANIFICACION
                            </div>
                            </a>
                        {% endif %}
                      {% endif %}
                      {% if planificacion.estado == "C" %} 
                          {% if request.user|has_group:"profesor" %}
                            <a
                            href="{% url 'planificaciones:revisarPlanif' planificacion.id %}"
                            class=""
                            title="REVISAR PLANIFICACION"
                            >
                            <div style="display: flex; align-items: center;">
                                REVISAR PLANIFICACION
                            </div>
                            </a>   
                          {% endif %}
                      {% endif %}                  
                    </nav>
                </aside>
                <main class="col seccion px-4">
                    {% block seccion %} replace me {% endblock %}
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock %}
