{% extends 'base.html' %} {% block content %}

<div class="layout d-flex flex-column min-vh-100">
    <header class="pt-1 pb-1 border-bottom">
        <div class="container-xl">
            <div class="flex__between__center m-1">
                <h1 class="col-md-3 h3 mb-0">
                    <a
                        class="item"
                        href="{% url 'planificaciones:index' %}"
                        style="text-decoration: none; color: inherit"
                    >
                        PlanAcad
                    </a>
                </h1>
                <div class="flex__between__center">
                    <h6 class="mb-0 px-2">Profesor Apellido</h6>
                    <a class="item icon" href="">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-box-arrow-right"
                            viewBox="0 0 16 16"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                            />
                            <path
                                fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <header class="pt-2 pb-2 border-bottom">
        <div class="container-xl">
            <div class="flex__between__center">
                <div>
                    <span>Comision: ---</span><br />
                    <span>
                        <b>Materia:</b> {{planificacion.asignatura|default:""}}
                    </span>
                </div>
                <div>
                    <span class="item-subnavbar">
                        <a
                            class=""
                            href=""
                            style="text-decoration: none; color: inherit"
                        >
                            Libro Rojo
                        </a>
                    </span>
                    <span class="item-subnavbar">
                        <a
                            class=""
                            href="https://cetfrre.com.ar/2020/03/09/calendario-academico-2020-2021/"
                            target="_blank"
                            style="text-decoration: none; color: inherit"
                        >
                            Calendario Academico
                        </a>
                    </span>
                    <span class="item-subnavbar">
                        <a
                            class=""
                            href=""
                            style="text-decoration: none; color: inherit"
                        >
                            Verbos de la taxonomia de Bloom
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <div class="bg-gris-5 flex-grow-1">
        <div class="container-xl">
            <button
                class="btn mt-2 collapseButton"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSidebar"
                aria-expanded="false"
                aria-controls="collapseSidebar"
            >
                {% include "iconos/arrow-left.html" with size=30 %}
            </button>
            <div class="row">
                <aside
                    class="layout__sidebar col-3 py-3 px-2 show collapse"
                    id="collapseSidebar"
                >
                    <h2 class="visually-hidden">Secciones</h2>

                    <nav>
                        <ol>
                            <a
                                href="{% url 'planificaciones:datos-descriptivos' planificacion.id %}"
                                class="active"
                                title="Datos descriptivos"
                                ><li class="section__title">
                                    Datos descriptivos
                                </li></a
                            >
                            <a
                                href="{% url 'planificaciones:detallesprofesorcatedra' planificacion.id %}"
                                class=""
                                title="Estructura de la cátedra"
                                class="section__title"
                                ><li>Estructura de la cátedra</li></a
                            >
                            <a
                                href="{% url 'planificaciones:fundamentacion' planificacion.id %}"
                                class="
                                    {%
                                    if
                                    '/fundamentacion'
                                    in
                                    url
                                    %}
                                    active
                                    {%
                                    endif
                                    %}
                                "
                                title="Fundamentación"
                                ><li class="section__title">
                                    Fundamentación
                                </li></a
                            >

                            <a
                                href="{% url 'planificaciones:resultadosDeAprendizajes' planificacion.id %}"
                                class="
                                    {%
                                    if
                                    '/resultados-de-aprendizaje'
                                    in
                                    url
                                    %}
                                    active
                                    {%
                                    endif
                                    %}
                                "
                                title="Resultados de aprendizaje prprevios para iniciar/continuar el desarrollo de los RA de la asignatura en relacion con el nivel de aporte a las sub-competencias y competencias"
                                ><li class="section-title">
                                    Resultados de aprendizaje previos
                                </li></a
                            >

                            <a
                                href="{% url 'planificaciones:competencias' planificacion.id %}"
                                class=""
                                title="Competencias y capacidades vinculadas con la asignatura"
                            >
                                <li>Competencias y capacidades</li></a
                            >

                            <a
                                href="{% url 'planificaciones:propuestaDesarrollo' planificacion.id %}"
                                class=""
                                title="Propuestas para el desarrollo"
                            >
                                <li>Propuestas para el desarrollo</li></a
                            >
                            <a
                                href="{% url 'planificaciones:sistemaDeEvaluacion' planificacion.id %}"
                                class=""
                                title=""
                                ><li>
                                    Sistema de evaluación
                                    <ol>
                                        <a
                                            href="{% url 'planificaciones:aprobacionDirecta' planificacion.id %}"
                                            class="p-1 pt-0"
                                            title=""
                                        >
                                            <li>
                                                Condición aprobación directa
                                            </li>
                                        </a>
                                        <a
                                            href="{% url 'planificaciones:aprobacionCursada' planificacion.id %}"
                                            class="p-1"
                                            title=""
                                        >
                                            <li>
                                                Condición aprobación cursada
                                            </li>
                                        </a>
                                    </ol>
                                </li>
                            </a>
                            <a
                                href="{% url 'planificaciones:cronograma' planificacion.id %}"
                                class=""
                                title="Webgrafia"
                                ><li>Cronograma</li>
                            </a>
                            <a
                                href="{% url 'planificaciones:bibliografia' planificacion.id %}"
                                class=""
                                title="Bibliografia"
                                ><li>Biliografia</li>
                            </a>
                            <a
                                href="{% url 'planificaciones:webgrafia' planificacion.id %}"
                                class=""
                                title="Webgrafia"
                                ><li>Webgrafia</li>
                            </a>
                            <a
                                href="{% url 'planificaciones:contenido' planificacion.id %}"
                                class=""
                                title="-"
                                ><li>Contenido</li></a
                            >
                            <a
                                href="{% url 'planificaciones:distribucionDeTareas' planificacion.id %}"
                                class=""
                                title="Distribución de Tareas"
                            >
                                <li>Distribución de tareas</li>
                            </a>

                            <a
                                href="{% url 'planificaciones:justificacionOrdenanza' planificacion.id %}"
                                class=""
                                title="Justificacion ordenanza"
                                ><li>Justificación ordenanza 604</li></a
                            >
                        </ol>

                        <hr >
                        {% comment %} <a
                        href="{% url 'planificaciones:exportar' planificacion.id %}"
                        class=""
                        title="EXPORTAR PLANIFICACION"
                        >
                        <div style="display: flex; align-items: center;">
                            <svg style="margin-right: 10px; margin-left: 5px" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                            EXPORTAR PLANIFICACION
                        </div>
                        </a>    {% endcomment %}                   
                    </nav>
                </aside>
                <main class="col seccion px-4">
                    {% block seccion %} replace me {% endblock %}
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock %}
