<!-- Librería de componentes UI Kit -->
{% extends 'base.html' %} {% block content %}
<div class="container py-4">
  <h2>Íconos</h2>
  <h3>Flecha izquierda</h3>
  {% include "iconos/arrow-left.html" with size=30 %}

  <div class="py-5"></div>

  <h2>Secciones</h2>
  <h2 class="seccion__encabezado">Encabezado</h3>
  <div class="seccion__card">Card de sección</div>

  <div class="py-5"></div>

  <h2>Botones</h2>
  <button type="button" class="btn btn-primary">Primario</button>
  <button type="button" class="btn btn-outline-primary">Outline</button>
  <button type="button" class="btn btn-danger">Rojo</button>
  
  <div class="py-5"></div>

  <h2>Botones solo ícono</h2>
  <button type="button" class="btn btn-icon" aria-label="Eliminar">{% include "iconos/trash.html" %}</button>
  <button type="button" class="btn btn-icon" aria-label="Editar">{% include "iconos/edit.html" %}</button>
  <button type="button" class="btn btn-icon" aria-label="Cerrar sesión">{% include "iconos/logout.html" %}</button>


  <div class="py-5"></div>

  <h2>Link con flecha</h2>
  <a href="#" class="link-arrow"><span>Link con flecha</span>{% include "iconos/chevron-right.html" %}</a>
  <a href="#" class="link-arrow">{% include "iconos/chevron-left.html" %}<span>Link con flecha</span></a>

  <div class="py-5"></div>

  <h2>Banners y alertas</h2>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
  </div>



</div>
 {% endblock %}