<!-- Librería de componentes UI Kit -->
{% extends 'base.html' %} {% block content %}
<div class="container py-4">
  <h2>Íconos</h2>
  <h3>Flecha izquierda</h3>
  {% include "iconos/arrow-left.html" with size=30 %}

  <div class="py-5"></div>

  <h2>Secciones</h2>
  <h2 class="seccion__encabezado">Encabezado</h3>
  <div class="seccion__card">Card de sección</div>

  <div class="py-5"></div>

  <h2>Botones</h2>
  <button type="button" class="btn btn-primary">Primario</button>
  <button type="button" class="btn btn-outline-primary">Outline</button>
  <button type="button" class="btn btn-danger">Rojo</button>
  <button type="button" class="btn btn-primary" disabled>Deshabilitado</button>

  
  <div class="py-5"></div>

  <h2>Botones solo ícono</h2>
  <button type="button" class="btn btn-icon" aria-label="Eliminar">{% include "iconos/trash.html" %}</button>
  <button type="button" class="btn btn-icon" aria-label="Editar">{% include "iconos/edit.html" %}</button>
  <button type="button" class="btn btn-icon" aria-label="Cerrar sesión">{% include "iconos/logout.html" %}</button>


  <div class="py-5"></div>

  <h2>Link con flecha</h2>
  <a href="#" class="link-arrow my-2"><span>Link con flecha</span>{% include "iconos/chevron-right.html" %}</a>
  <a href="#" class="link-arrow my-2">{% include "iconos/chevron-left.html" %}<span>Link con flecha</span></a>

  <div class="py-5"></div>

  <h2>Banners y alertas</h2>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
  </div>

  <div class="py-5"></div> 

  <h2>Formularios</h2>
  <div class="my-3">
    <label for="exampleFormControlInput1" class="form-label">Campo de texto</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div> 

  <div class="my-3">
    <label for="validationServer03" class="form-label">Campo de texto con error</label>
    <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
    <div id="validationServer03Feedback" class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div> 

  <div class="row">
    <div class="col-md-6">
      <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="col-md-6">
      <label for="exampleFormControlTextarea1invalid" class="form-label">Textarea con error</label>
      <textarea class="form-control is-invalid" id="exampleFormControlTextarea1invalid" rows="3"></textarea>
    </div>
  </div>

  <div class="py-5"></div>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Default radio
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Default checked radio
  </label>
  </div>

  <div class="py-5"></div>

  <h2>Modales</h2>
  <p class="my-2">Importante que coincidan los id del modal y del data-target del botón para abrir el modal. También cuidado de no repetir el mismo id en una misma página, en el caso de tener más de un modal.</p>
  <!-- Abrir modal grande -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iddelmodal1">
    Abrir modal grande
  </button>

  <!-- Modal grande -->
  <div class="modal fade" id="iddelmodal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form>
            Acá va el contenido del modal, formulario, etc.
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Agregar o aceptar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Abrir modal pequeño -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iddelmodal2">
    Abrir modal pequeño
  </button>

  <!-- Modal chico -->
  <div class="modal fade" id="iddelmodal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Modal title</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form>
            Acá va el contenido del modal, formulario, etc.
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Agregar o aceptar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
 {% endblock %}