{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}
{% load util %}
<h2 class="seccion__encabezado">13. Justificación (en caso que no se adapte a la ordenanza 604)</h2>
{% if existen_correcciones_pendientes %}
  <div class="alert alert-info">{{existen_correcciones_pendientes}}</div>
  {% endif %}
<div class="seccion__card">
  {% if mensaje_exito %}
  <div class="alert alert-success">{{mensaje_exito}}</div>
  {% endif %}
  <form
    method="POST"
    class="mt-6"
    action="{% url 'planificaciones:justificacionOrdenanza' planificacion.id %}"
  >
    {% csrf_token %}
    <div>{{form}}</div>
    {% if form.errors %}
    <div class="alert alert-danger">{{form.errors}}</div>
    {% endif %}
    {% if not planificacion.estado == "A" and request.user|is_profesor:planificacion.asignatura %} 
    <input type="submit" class="btn btn-primary mt-4" value="Guardar" />
    {% endif %}
  </form>
</div>

{% with seccion=13 %}
  {% include 'layouts/correcciones_layout.html' %}
{% endwith %}

{% endblock %}
