{% extends 'base.html' %} {% block content %}

<h2 class="seccion__encabezado">Copiar</h2>
<div class="seccion__card">
    {% if validacion_ok %}
        <div class="alert alert-success">Todo OK</div>
    {% endif %}
    {% if validacion_bad %}
    <div class="alert alert-danger">
        {% for e in errores %}
        <p>{{e|default:""}}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form
    method="POST"
    class="mt-6"
    action="{% url 'planificaciones:copiarPlanif' planificacion.id %}">
        <input type="submit" class="btn btn-primary mt-4" value="Copiar" data-toggle="modal" data-target="#modal-cronograma-create" />
        {% csrf_token %}
    </form>
</div>


{% endblock %}