{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 4px;
        font-weight: 400;
        font-size: small;
    }
</style>

<h2 class="seccion__encabezado">2. Estructura de la cátedra</h2>
{% if existen_correcciones_pendientes %}
  <div class="alert alert-info">{{existen_correcciones_pendientes}}</div>
  {% endif %}
<div class="seccion__card">
    <table class="seccion__table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Dedicación</th>
                <th>Situación</th>
                <th>Tareas/Función a desarrollar</th>
            </tr>

            {% if data %} {% for detalleprofesor in data %}
            <tr
                onclick="location.href='detalles-profesor-catedra/edit/{{detalleprofesor.id}}'"
            >
                <td class="py-4">
                    <a
                        href="detalles-profesor-catedra/edit/{{detalleprofesor.id}}"
                        >{{detalleprofesor.profesor.nombre|default:""}}
                        {{detalleprofesor.profesor.apellido|default:""}}</a
                    >
                </td>
                <td class="py-4">{{detalleprofesor.categoria|default:""}}</td>
                <td class="py-4">{{detalleprofesor.dedicacion|default:""}}</td>
                <td class="py-4">{{detalleprofesor.situacion|default:""}}</td>
                <td style="text-align: left">
                    {% for tarea in detalleprofesor.tareas.all %}
                        <p>{{ tarea.tarea_funcion }}</p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}{% else %}
            <tr>
                <td colspan="5">No hay datos para mostrar</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    
    {% if mensaje_exito %}
    <div class="alert alert-success">{{mensaje_exito}}</div>
    {% endif %}
    
    {% if form.errors %}
        <div class="alert alert-danger">{{form.errors}}</div>
    {% endif %}

    <!-- Abrir modal de añadir docente -->
    <button
        type="button"
        class="btn btn-primary mt-4"
        data-toggle="modal"
        data-target="#modal-docente"
    >
        Añadir docente
    </button>
</div>


<!-- Agregar -->
{% with seccion=2 %}
  {% include 'layouts/correcciones_layout.html' %}
{% endwith %}


<!-- Modal propuesta de desarrollo -->
<div
    class="modal fade"
    id="modal-docente"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Añadir docente
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">

                <form
                    method="POST"
                    action="{% url 'planificaciones:detallesprofesorcatedra' planificacion.id %}"
                >
                    {% csrf_token %}

                    <label>Profesor/a:</label>
                    <p>{{form.profesor}}</p>

                    <label>Situación y/o condición:</label>
                    <p>{{form.situacion}}</p>

                    <label>Categoría:</label>
                    <p>{{form.categoria}}</p>

                    <label>Designación:</label>
                    <p>{{form.dedicacion}}</p>

                    <label>Funciones a desarrollar:</label>
                    <p>{{form.tareas}}</p>

                    <label>Actividades:</label>
                    <p>{{form.actividades}}</p>

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-outline-primary"
                            data-dismiss="modal"
                        >
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
