{% extends 'base.html' %} {% block content %}

{% if detallesprofesorcatedra %}
<article>
  
  {% for detalleprofesorcatedra in detallesprofesorcatedra %}
  <h2 class="py-4">{{detalleprofesorcatedra.profesor.nombre|default:""}} {{detalleprofesorcatedra.profesor.apellido|default:""}}</h2>
  <h2 class="py-4">{{detalleprofesorcatedra.categoria|default:""}}</h2>
  <h2 class="py-4">{{detalleprofesorcatedra.dedicacion|default:""}}</h2>
  <h2 class="py-4">{{detalleprofesorcatedra.situacion|default:""}}</h2>
  <dl>
    <ul>
      {% for tareafuncion in detalleprofesorcatedra.tareasfunciones_set.all %}
      <li class="py-4">
        <p>{{ tareafuncion.tarea_funcion }}</p>
      </li>
      {% endfor %}
    </ul>
  </dl>
  {% endfor %}
</article>{% endif %}
{% endblock %}
