{% extends 'base.html' %} {% block content %}

{% if detallesProfesorCatedra %}
<article>
  
  {% for detalleProfesorCatedra in detallesProfesorCatedra %}
  <h2 class="py-4">{{detalleProfesorCatedra.profesor.nombre|default:""}} {{detalleProfesorCatedra.profesor.apellido|default:""}}</h2>
  <h2 class="py-4">{{detalleProfesorCatedra.categoria|default:""}}</h2>
  <h2 class="py-4">{{detalleProfesorCatedra.dedicacion|default:""}}</h2>
  <h2 class="py-4">{{detalleProfesorCatedra.situacion|default:""}}</h2>
  <dl>
    <ul>
      {% for tareafun in detalleProfesorCatedra.tareasfunciones_set.all %}
      <li class="py-4">
        <p>{{ tareafun.tareaFunciones }}</p>
      </li>
      {% endfor %}
    </ul>
  </dl>
  {% endfor %}
</article>{% endif %}
{% endblock %}
