{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<h2 class="seccion__encabezado">2. Estructura de la cátedra</h2>
<div class="seccion__card">
  {% if mensaje_exito %}
  <div class="alert alert-success">{{mensaje_exito}}</div>
  {% endif %}
  <h3>Modificar docente</h3>

  <form
    method="POST"
    action="{% url 'planificaciones:detallesprofesorcatedraupdate' planificacion.id data.id %}"
  >
    {% csrf_token %} {{form.as_p}}
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  {% if form.errors %}
  <div class="alert alert-error">{{form.errors}}</div>
  {% endif %}
</div>
{% endblock %}
