{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<h2 class="seccion__encabezado"></h2>
<div class="seccion__card">
  {% if mensaje_exito %}
  <div class="alert alert-success">{{mensaje_exito}}</div>
  {% endif %}
  <h3>Modificar docente</h3>

  <form
    method="POST"
    action="{% url 'planificaciones:detallesprofesorcatedraupdate' planificacion.id data.id %}"
  >
    {% csrf_token %} 
    <label>Profesor/a:</label>
    <p>{{form.profesor}}</p>
    
    <label>Situación y/o condición:</label>
    <p>{{form.situacion}}</p>

    <label>Categoría:</label>
    <p>{{form.categoria}}</p>

    <label>Designación:</label>
    <p>{{form.dedicacion}}</p>

    <label>Funciones a desarrollar:</label>
    <p>{{form.tareas}}</p>

    <label>Actividades:</label>
    <p>{{form.actividades}}</p>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  <form
    method="POST"
    action="{% url 'planificaciones:detallesprofesorcatedradestroy' planificacion.id data.id %}"
  >
    {% csrf_token %}
    <button type="submit" class="btn btn-danger my-4">Eliminar</button>
  </form>

  {% if form.errors %}
  <div class="alert alert-danger">{{form.errors}}</div>
  {% endif %}
</div>
{% endblock %}
