{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<h2 class="seccion__encabezado">Sección 3</h2>
<div class="seccion__card">
  {% if mensaje_exito %}
  <div class="alert alert-success">{{mensaje_exito}}</div>
  {% endif %}
  <form
    method="POST"
    class="mt-6"
    action="{% url 'planificaciones:seccion3' planificacion.id %}"
  >
    {% csrf_token %} {{form.as_p}} {% if form.errors %}
    <div class="alert alert-error">{{form.errors}}</div>
    {% endif %}

    <input type="submit" class="btn btn-primary mt-4" value="Guardar" />
  </form>
</div>

<div class="py-4"></div>

<h2 class="seccion__encabezado">Correcciones</h2>
<div class="seccion__card">No posee correcciones.</div>

{% endblock %}
