{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<header class="seccion__acciones">
  <button onclick="document.getElementById('fundamentacion-form').submit()" class="btn btn-primary">Guardar</button>
</header>

<h2 class="seccion__encabezado">3. Fundamentación</h2>
  {% if existen_correcciones_pendientes %}
  <div class="alert alert-info">{{existen_correcciones_pendientes}}</div>
  {% endif %}
<div class="seccion__card">
  {% if mensaje_exito %}
  <div class="alert alert-success">{{mensaje_exito}}</div>
  {% endif %}
  <form
    id="fundamentacion-form"
    method="POST"
    class="mt-6"
    action="{% url 'planificaciones:fundamentacion' planificacion.id %}"
  >
    {% csrf_token %}
    <div>{{form.fundamentos}}</div>
    <p class="indications__footer__mesage">
      Explicar la importancia de la asignatura en el Plan de Estudios de la
      Carrera en relación a la contribución respecto al desarrollo de las
      competencias genéricas y específicas enunciadas en el Libro Rojo y el
      Perfil del Egresado. En este punto también se debe fundamentar el área de
      formación en el que se encuentra enmarcada la asignatura en el Diseño
      Curricular de la carrera considerando el campo epistemológico y del saber
      vinculados.
    </p>
    {% if form.errors %}
    <div class="alert alert-danger">{{form.errors}}</div>
    {% endif %}
  </form>
</div>

{% with seccion=3 %}
  {% include 'layouts/correcciones_layout.html' %}
{% endwith %}

{% endblock %}
