{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<h2 class="seccion__encabezado">2. Estructura de la cátedra</h2>
<div class="seccion__card">
  {% if mensaje_exito %}
  <div class="alert alert-success">{{mensaje_exito}}</div>
  {% endif %}
  <h3>Modificar Resultado de Aprendizaje</h3>

  <form
    data-resultados-url="{% url 'planificaciones:ajax_load_resultados' %}" novalidate
    method="POST" id="resultadoDeAprendizajeAnteriorForm"
    action="{% url 'planificaciones:resultadosDeAprendizajesUpdate' planificacion.id data.id %}"
  >
    {% csrf_token %} {{form.as_p}}
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  <form
    method="POST"
    action="{% url 'planificaciones:resultadosDeAprendizajesDestroy' planificacion.id data.id %}"
  >
    {% csrf_token %}
    <button type="submit" class="btn btn-danger my-4">Eliminar</button>
  </form>

  {% if form.errors %}
  <div class="alert alert-danger">{{form.errors}}</div>
  {% endif %}
</div>
<script>
  $("#id_asignatura").change(function () {
    var url = $("#resultadoDeAprendizajeAnteriorForm").attr("data-resultados-url");  // get the url of the `load_cities` view
    var asignaturaId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'asignatura': asignaturaId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_resultado").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>
{% endblock %}
