{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
    font-weight: 400;
    font-size: small;
  }
</style>

<h2 class="seccion__encabezado">
  4. Resultados de Aprendizajes previos requeridos para iniciar/ continuar el
  desarrollo de los Resultados de Aprendizaje de la asignatura en relación con
  el nivel de aporte a las sub-competencias y Competencias
</h2>
<div class="seccion__card">
  {% if mensaje_exito %}
  <div class="alert alert-success">{{mensaje_exito}}</div>
  {% endif %}

  <table class="seccion__table">
        <tbody>
            <table>
                <thead class="">
                  <tr>
                    <th>Asignatura aprobada y/o regularizadas</th>
                    <th>Resultados de aprendizaje alcanzados</th>
                  </tr>
                </thead>

                <tbody>
                  {% if data %} {% for fila in data %}

                  <tr onclick="location.href='resultados-de-aprendizaje/edit/{{fila.id}}'">
                    <td class="py-4">
                      <a href="resultados-de-aprendizaje/edit/{{fila.id}}"
                        >{{fila.asignatura|default:""}}
                      </a>
                    </td>
                    <td class="py-4">{{fila.resultado|default:""}}</td>
                  </tr>
                  {% endfor %}{% else %}
                  <tr>
                    <td colspan="5">No hay datos para mostrar</td>
                  </tr>
                  {% endif %}
                </tbody>
                
            </table>
        </tbody>
    </table>

  <h3 class="mt-4">Agregar Resultado de aprendizaje</h3>

  <form
    method="POST"
    action="{% url 'planificaciones:resultadosDeAprendizajes' planificacion.id %}"
  >
    {% csrf_token %} {{form.as_p}}
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  {% if form.errors %}
  <div class="alert alert-danger">{{form.errors}}</div>
  {% endif %}
</div>
{% endblock %}
