{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 4px;
        font-weight: 400;
        font-size: small;
    }

    td {
        cursor: pointer;
    }

    th {
        font-weight: 500;
    }
</style>

<h2 class="seccion__encabezado">
    4. Resultados de Aprendizajes previos requeridos para iniciar/ continuar el
    desarrollo de los Resultados de Aprendizaje de la asignatura en relación con
    el nivel de aporte a las sub-competencias y Competencias
</h2>
{% if existen_correcciones_pendientes %}
  <div class="alert alert-info">{{existen_correcciones_pendientes}}</div>
  {% endif %}
<div class="seccion__card">
    {% if mensaje_exito %}
    <div class="alert alert-success">{{mensaje_exito}}</div>
    {% endif %}

    <table class="seccion__table">
        <tbody>
            <table>
                <thead class="">
                    <tr>
                        <th>Resultados de aprendizaje necesarios</th>
                    </tr>
                </thead>

                <tbody>
                    {% if data %} {% for fila in data %}

                    <tr {% if not planificacion.estado == "A" %} onclick="location.href=`{% url 'planificaciones:resultadosDeAprendizajesAnteriorPrimerNivelUpdate' planificacion.id fila.id %}`" {% endif %}>
                        <td class="py-4">{{fila.resultado|default:""}}</td>
                    </tr>
                    {% endfor %}{% else %}
                    <tr>
                        <td colspan="5">No hay datos para mostrar</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </tbody>
    </table>

    {% if not planificacion.estado == "A" %} 
        <div class="d-flex">
        <!-- Abrir modal  -->
        <button
        type="button"
        class="btn btn-primary mt-4"
        data-toggle="modal"
        data-target="#modal-resultado-aprendizaje-previo"
        >
            Añadir resultado de aprendizaje
        </button> 
        </div>
    {% endif %}
    

    {% if form.errors %}
    <div class="alert alert-danger">{{form.errors}}</div>
    {% endif %}
</div>
{% with seccion=4 %}
  {% include 'layouts/correcciones_layout.html' %}
{% endwith %}
<!-- Modal resultado de aprendizaje previo -->
<div
    class="modal fade"
    id="modal-resultado-aprendizaje-previo"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Añadir resultado de aprendizaje previo
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                
                    <form
                    method="POST"
                    id="resultadoDeAprendizajeAnteriorForm"
                    action="{% url 'planificaciones:resultadosDeAprendizajesAnteriorPrimerNivel' planificacion.id %}"
                >
                    {% csrf_token %} {{form.as_p}}

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-outline-primary"
                            data-dismiss="modal"
                        >
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
