{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Sección 7</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    {% if planificacion %}
    <h1>Planificación</h1>
    <ul>
      <li>id: {{ planificacion.id }}</li>
      <li>Fecha creacion: {{ planificacion.fechaCreacion }}</li>
      <li>Asignatura: <b>{{ planificacion.asignatura }}</b></li>
    </ul>
    {% endif %}

    <h1>Sistema de evaluación 7.1</h1>

    {% if actividades %}
    <table>
      <tr>
        <th>Tipo</th>
        <th>Actividades de evaluación</th>
        <th>Unidad tematica</th>
        <th>Lugar/plataformas</th>
        <th>Indicadores de logro</th>
        <th>RA</th>
        <th>Tec. de Evaluacion</th>
      </tr>

      {% for actividad in actividades %}
      <tr>
        <td>{{ actividad.tipo_de_evaluacion.get_tipo_display }}</td>
        <th>{{ actividad.get_actividad_display }}</th>
        <th>{{actividad.unidad_tematica}}</th>
        <th>{{actividad.lugar}}</th>
        <th>{{actividad.indicadores_de_logro}}</th>
        <th>RA</th>
        <th>{{actividad.tecnicas_de_evaluacion}}</th>
      </tr>
      {% endfor %}
    </table>
    <br />
    {% else %}
    <p>No se encontraron tipos de evaluación.</p>
    {% endif %}
  </body>
</html>

{% endblock %}
