{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<a
    href="{% url 'planificaciones:competenciaUpdate' planificacion.id competencia.id %}"
    class="link-arrow my-2 mb-5"
    >{% include "iconos/chevron-left.html" %}<span>Volver</span></a
>
<h2 class="seccion__encabezado">Sub Competencias</h2>
<div class="seccion__card">
    {% if mensaje_exito %}
    <div class="alert alert-success">{{mensaje_exito}}</div>
    {% endif %}

    <h3 class="mt-4">Agregar sub-competencia para la competencia {{competencia.descripcion}}</h3>

    <form
        id="sub-competencia-form"
        method="POST"
        action="{% url 'planificaciones:subcompetencias' planificacion.id competencia.id %}"
    >
        {% csrf_token %} {{form.as_p}}
    </form>
    <div id="right-buttons">
        <a
            href="{% url 'planificaciones:competenciaUpdate' planificacion.id competencia.id %}"
            style="text-decoration: none"
        >
            <button class="btn btn-outline-primary my-4">Cancelar</button>
        </a>
        <button
            class="btn btn-primary my-4"
            onclick="document.getElementById('sub-competencia-form').submit()"
        >
            Guardar
        </button>
    </div>
    {% if mensaje_error %}
    <div class="alert alert-danger">{{mensaje_error}}</div>
    {% endif %}
</div>


{% endblock %}
