{% extends 'base.html' %} {% block content %}

<body id="body-login">
    <div class="main-login">

        <form method="POST">
            {% csrf_token %}
            <h1 class="title-login">PlanAcad</h1>
            <h6 class="subtitle-login">Universidad Tecnológica Nacional - FRRE UTN</h6>

            <form class="form-login">
                {% csrf_token %}
                <br />

                <label>Legajo</label>
                <p>{{ form.username }}</p>

                <label>{{ form.password.label_tag }}</label>
                <p>{{ form.password }}</p>

                {% if form.errors %}
                <div class="alert alert-danger">
                    El usuario y/o contraseña ingresados son incorrectos. Por favor, vuelva a intentarlo.
                </div>
                {% else %}
                <div style="height: 6rem;">
                </div>
                {% endif %}

                <div style="text-align: center;">
                    <button type="submit" class="mt-4 btn btn-primary">Ingresar</button>
                </div>
            </form>
        </form>
    </div>
</body>

{% endblock %}