{% extends 'base.html' %} {% block content %}

<body id="body-register">
    <div class="main-register">
        <h1 class="title-register">Crear Usuario</h1>
        
        <form class="form-register" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div style="text-align: center;">
                <button type="submit" class="mt-4 btn btn-primary" >Registrar</button>
            </div>
            {% if form.errors %}
                <p>{{form.errors}}</p>
            {% endif %}
        </form>
                
    </div>   
</body>

{% endblock %}