{% extends 'base.html' %} {% block content %}
<div class="layout d-flex flex-column min-vh-100">
    <!-- Add navbar -->
    {% include "layouts/navbar.html" %}
    <div class="bg-light flex-grow-1">
        <div class="container-xl">
            <h2  style="font-weight: bold;padding-top: 40px;">Registrar Usuario</h1>
                <div class="seccion__card">
                    
                    <form class="form-register" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div style="text-align: center;">
                            <button type="submit" class="mt-4 btn btn-primary" >Registrar</button>
                        </div>
                    </form>    
                </div>  
        </div>
    </div>
</div>
{% endblock %}