{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}


<a
    href="{% url 'planificaciones:competencias' planificacion.id %}"
    class="link-arrow my-2 mb-5"
    >{% include "iconos/chevron-left.html" %}<span>Volver</span></a
>

<h2 class="seccion__encabezado"></h2>
<div class="seccion__card">
  {% if mensaje_exito %}
  <div class="alert alert-success">{{mensaje_exito}}</div>
  {% endif %}
  <h3>Modificar competencia</h3>

  <form
    id="competencia-form"
    method="POST"
    action="{% url 'planificaciones:competenciaUpdate' planificacion.id data.id %}"
  >
    {% csrf_token %} {{form.as_p}}
    <div class="card p-4 my-4">
    <h3>Subcompetencias</h3>
    <ul>
      {% for subcompetencia in subcompetencias %}
      <li class="py-4">
          <p>{{ subcompetencia.descripcion }}
            {% if not planificacion.estado == "A" %} 
                <a class="item icon" href="{% url 'planificaciones:subcompetenciasUpdate' planificacion.id data.id subcompetencia.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                </a> 
            {% endif %}
          </p>
      </li>
      {% endfor %}
    </ul>
   
    <a href="{% url 'planificaciones:subcompetencias' planificacion.id data.id %}" class="btn btn-outline-primary">
        Añadir subcompetencia
    </a> </div>
  </form>
  <div id="buttons-footer" style="display: flex; justify-content: space-between">
    <button
        type="button"
        class="btn btn-danger my-4"
        data-toggle="modal"
        data-target="#modal-delete"
    >
        Eliminar
    </button>

    <div id="right-buttons">
        <a
            href="{% url 'planificaciones:competencias' planificacion.id %}"
            style="text-decoration: none"
        >
            <button class="btn btn-outline-primary my-4">Cancelar</button>
        </a>
        <button
            class="btn btn-primary my-4"
            onclick="document.getElementById('competencia-form').submit()"
        >
            Guardar
        </button>
    </div>
</div>

  {% if form.errors %}
  <div class="alert alert-danger">{{form.errors}}</div>
  {% endif %}
</div>

<!-- Modal eliminar resultado de aprendizaje -->
<div
    class="modal fade"
    id="modal-delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Eliminar resultado de aprendizaje
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    method="POST"
                    action="{% url 'planificaciones:competenciaDestroy' planificacion.id data.id %}"
                >
                    {% csrf_token %}

                    <p>Estás por eliminar el resultado de aprendizaje:</p>
                    <ul>
                      <li>Tipo de competencia: {{data.get_tipo_competencia_display}}</li>
                      <li>Descripción: {{data.descripcion}}</li>
                    </ul>
                    <p><b>Desea eliminar la fila correspondiente?</b></p>

                    {% if form.errors %}
                    <div class="alert alert-danger">{{form.errors}}</div>
                    {% endif %}

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-outline-primary"
                            data-dismiss="modal"
                        >
                            Cancelar
                        </button>
                        <button
                            id="delete-button"
                            type="submit"
                            class="btn btn-danger my-4"
                        >
                            Eliminar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
