.item-subnavbar {
    font-weight: 500;
    padding: 0 15px 0 15px;
}

.item-subnavbar:hover {
    color: var(--blue);
}

/**************
*** SIDEBAR ***
***************/

.layout__sidebar {
}
.layout__sidebar a {
    text-decoration: none;
    color: var(--gray-dark);
    display: block;
    font-weight: 500;
    font-size: 0.9em;
    padding: 0.5em 0;
}
.layout__sidebar a:hover {
    color: var(--blue);
}

/**************
*** SECCION ***
***************/

.seccion {
    padding-bottom: 2em;
}

.seccion__acciones {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.seccion__encabezado {
    margin: 0.5em 0 0.75em;
    font-size: 1.45em;
    font-weight: 600;
}
.seccion__card {
    background-color: var(--gris-blanco);
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(170, 170, 170, 0.25);
    padding: 1.6em 1.9em;
    margin: 0.5em 0;
}

.seccion__card--edicion {
    padding: 1.6em 6.9em;
}

.seccion__card .subtitle__message {
    color: #9ca3af;
    margin-top: 14px;
    margin-bottom: 0;
}

.seccion__card .indications__footer__mesage {
    font-size: 12px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

/**************
*** SECCION TABLE ***
***************/

.seccion__table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
}

.seccion__table a {
    text-decoration: none;
    color: black;
}

.seccion__table th {
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
}

.seccion__table th,
.seccion__table td {
    padding: 0.5em 0.3em;
    border: 1px solid black;
}

.seccion__table tbody tr {
    position: relative;
}
.seccion__table tbody tr:hover {
    background-color: rgba(179, 206, 226, 0.15);
}

.seccion__table td label {
    display: block;
    padding: 0.2em 0.3em;
    font-weight: bold;
    text-align: right;
}

.seccion__table td input:not([type="radio"]) {
    width: 100%;
    min-height: 2em;
    padding: 0.2em 0.3em;
    border: 1px solid transparent;
}

.seccion__table
    td
    input:not([type="radio"]):not([type="checkbox"]):not([readonly]):hover,
.seccion__table
    td
    input:not([type="radio"]):not([type="checkbox"]):not([readonly]):focus {
    border: 1px solid var(--blue);
    box-shadow: 0 0 6px var(--blue);
    outline: 0;
}

.seccion__table ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.2em 0.5em;
    margin: 0;
}
.seccion__table ul li label {
    font-weight: normal;
}

.seccion_disclaimer {
    margin: 2em 0 0.8em;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

/**************
*** LINK CON FLECHA ***
***************/

.link-arrow {
    display: block;
    text-decoration-line: none;
    font-weight: bold;
}
.link-arrow span {
    padding-bottom: 0.2em;
    border-bottom: 2px solid;
}
.link-arrow svg {
    margin: 0 0.2em;
}

/**************
*** BOTON SOLO ICONO ***
***************/
.btn-icon {
    width: 2.75em;
    height: 2.75em;
    padding: 0;
    display: inline-flex;
}
.btn-icon svg {
    margin: auto;
}
.btn-icon:hover {
    box-shadow: 0px 4px 10px rgba(170, 170, 170, 0.25);
}

/** UTIILIDADES **/
.bg-gris-5 {
    background-color: var(--gris-5);
}
.flex__between__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**************
*** MULTIPLE SELECT LIST ***
***************/
ul.multiple-select-list {
    width: 100%;
    padding: 0;
    border: 1px solid #9ca3af;
    border-radius: 5px;
    background-color: white;
    overflow-y: auto;
    max-height: 22em;
}

.multiple-select-list li {
    list-style: none;
}

.multiple-select-list li label {
    padding: 0.8em;
    width: 100%;
}

.multiple-select-list li:hover {
    background-color: rgba(17, 106, 204, 0.2);
}

.multiple-select-list input {
    width: 1.1em;
    height: 1.1em;
    position: relative;
    top: 0.15em;
    margin-right: 0.5em;
}
