{% extends 'base.html' %} {% block content %}

<h1>Detalle de asignatura</h1>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %} {% if form.subject.errors %}
<ol>
  {% for error in form.subject.errors %}
  <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
</ol>
{% endif %} {% if asignatura %}

<h2 class="py-4">{{ asignatura.nombre_materia }}</h2>
<dl>
  <dt>Carrera:</dt>
  <dd>{{ carrera.nombre_carrera }}</dd>
</dl>

<form action="{% url 'planificaciones:nueva' asignatura.id %}" method="post">
  {% csrf_token %} {{ form }}
  <input
    type="submit"
    class="btn btn-primary my-5"
    value="Nueva planificación"
  />
</form>
{% if planificaciones %}
<ul>
  {% for planificacion in planificaciones %}
  <li class="py-4">
    <a href="/planificacion/{{ planificacion.id }}/datos-descriptivos"
      >{{planificacion.id}} {{ planificacion.fecha_creacion }}</a
    >   <a href="/planificacion/{{ planificacion.id }}/eliminar-planificacion" style="color: red;">Eliminar</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No se encontraron planificaciones.</p>
{% endif %} {% else %}
<p>No existe la asignatura.</p>

{% endif %} {% endblock %}
