{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  td,
  th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 4px;
      font-weight: 400;
      font-size: small;
  }

  td {
      cursor: pointer;
  }

  th {
      font-weight: 500;
  }
</style>

<h2 class="seccion__encabezado">7. Sistema de Evaluación</h2>
{% if existen_correcciones_pendientes %}
  <div class="alert alert-info">{{existen_correcciones_pendientes}}</div>
  {% endif %}
<div class="seccion__card">
  <table class="">
    <tbody>
      {% if actividades %}
        <tr>
          <th>Tipo</th>
          <th>Actividades de evaluación</th>
          <th>Unidad tematica</th>
          <th>Lugar/plataformas</th>
          <th>Indicadores de logro</th>
          <th>RA</th>
          <th>Tec. de Evaluacion</th>
        </tr>

        {% for actividad in actividades %}
        <tr {% if not planificacion.estado == "A" %}  onclick="location.href=`{% url 'planificaciones:updateActividad' planificacion.id actividad.id %}`" {% endif %}>
          <td>
            {{ actividad.tipo_de_evaluacion.get_tipo_display }}
          </td>
          <td>{{ actividad.get_actividad_display }}</td>
          {% if actividad.unidad_tematica.all %}
              {% for unidad in actividad.unidad_tematica.all %}
               <td>{{unidad.titulo}}</td>
              {% endfor %}
          {% else %}
            <p>-</p>
          {% endif %}
         
          <td>{{actividad.lugar}}</td>
          <td>{{actividad.indicadores_de_logro}}</td>
          <td>
            {% if actividad.resultados_de_aprendizaje.all %}
              {% for resultado in actividad.resultados_de_aprendizaje.all %}
                <p><li>{{ resultado.resultado }}</li></p>
              {% endfor %}
            {% else %}
              <p>-</p>
            {% endif %}
          </td>
          <td>{{actividad.tecnicas_de_evaluacion}}</td>
        </tr>
        {% endfor %}
      <br />
      {% else %}
      <p>No se encontraron tipos de evaluación.</p>
      {% endif %}
    </tbody>
  </table>

  {% if not planificacion.estado == "A" %} 
    <button
    type="button"
    class="btn btn-primary mt-4"
    data-toggle="modal"
    data-target="#modal-sistema-evaluacion"
    >
      Añadir actividad
    </button>
  {% endif %}
  <!-- Abrir modal sistema de evaluacion -->
  

  <p class="indications__footer__mesage">
    Recuperar lo desarrollado en el Módulo 4 del Curso Formación por Competencias. Presentar al menos una rúbrica de evaluación para un Resultado de Aprendizaje.
    Interpretar el concepto de “Indicadores de Logro” en relación a lo desarrollado en el Módulo 4 del Curso Formación por Competencias al trabajar el tema: Rúbrica.
    Se sugiere consultar la bibliografía recomendada en el Módulo 4 del Curso Formación por Competencias.
  </p>
</div>

{% with seccion=7 %}
  {% include 'layouts/correcciones_layout.html' %}
{% endwith %}

<!-- Modal sistema de evaluacion -->
<div
    class="modal fade"
    id="modal-sistema-evaluacion"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Añadir sistema de de evaluación
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
              <form action="" method="POST">
                {% csrf_token %} 
                
                    <label class="form-label">Actividad:</label>
                    <p>{{form.actividad}}</p>

                    <div class= "mb-3">
                      <label for="" class="form-label">Unidad tematica:</label>
                      {% if form.unidad_tematica|length > 0 %}
                          {{ form.unidad_tematica }}
                      {% else %}
                          <input disabled></input>
                          <span>No posee unidades agregadas.
                            <a href="{% url 'planificaciones:contenido' planificacion.id %}" class="link-primary">
                              Ir a sección 11: Contenido</a>
                          </span>
                      {% endif %}
                      </div>

                    <label class="form-label">Lugar:</label>
                    <p>{{form.lugar}}</p>

                    <label class="form-label">Indicadores de logro:</label>
                    <p>{{form.indicadores_de_logro}}</p>
                    <label class="form-label">Tecnicas de evaluacion:</label>
                    <p>{{form.tecnicas_de_evaluacion}}</p>
                    <label class="form-label">Tipo de evaluacion:</label>
                    <p>{{form.tipo_de_evaluacion}}</p>
                    <div class= "mb-3">
                    <label for="" class="form-label">Resultados de aprendizaje:</label>
                    {% if form.resultados_de_aprendizaje|length > 0 %}
                        {{ form.resultados_de_aprendizaje }}
                    {% else %}
                        <input disabled></input>
                        <span>No posee resultados de aprendizaje agregados.
                          <a href="{% url 'planificaciones:propuestaDesarrollo' planificacion.id %}" class="link-primary">
                            Ir a sección 6: Propuestas para el desarrollo</a>
                        </span>
                    {% endif %}
                    </div>
                    
                    

                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-outline-primary"
                        data-dismiss="modal"
                    >
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
