{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<style>
  table {
      border-collapse: collapse;
      width: 100%;
  }

  td,
  th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 4px;
      font-weight: 400;
      font-size: small;
  }

  td {
      cursor: pointer;
  }

  th {
      font-weight: 500;
  }
</style>

<h2 class="seccion__encabezado">7. Sistema de Evaluación</h2>
<div class="seccion__card">
  <table class="">
    <tbody>
      {% if actividades %}
        <tr>
          <th>Tipo</th>
          <th>Actividades de evaluación</th>
          <th>Unidad tematica</th>
          <th>Lugar/plataformas</th>
          <th>Indicadores de logro</th>
          <th>RA</th>
          <th>Tec. de Evaluacion</th>
        </tr>

        {% for actividad in actividades %}
        <tr onclick="location.href=`{% url 'planificaciones:updateActividad' planificacion.id actividad.id %}`">
          <td>
            {{ actividad.tipo_de_evaluacion.get_tipo_display }}
          </td>
          <td>{{ actividad.get_actividad_display }}</td>
          <td>{{actividad.unidad_tematica}}</td>
          <td>{{actividad.lugar}}</td>
          <td>{{actividad.indicadores_de_logro}}</td>
          <td>
            {% if actividad.resultados_de_aprendizaje.all %}
              {% for resultado in actividad.resultados_de_aprendizaje.all %}
                <p><li>{{ resultado.resultado }}</li></p>
              {% endfor %}
            {% else %}
              <p>-</p>
            {% endif %}
          </td>
          <td>{{actividad.tecnicas_de_evaluacion}}</td>
        </tr>
        {% endfor %}
      <br />
      {% else %}
      <p>No se encontraron tipos de evaluación.</p>
      {% endif %}
    </tbody>
  </table>

  <!-- Abrir modal sistema de evaluacion -->
  <button
      type="button"
      class="btn btn-primary mt-4"
      data-toggle="modal"
      data-target="#modal-sistema-evaluacion"
  >
      Añadir nueva
  </button>

  <p class="indications__footer__mesage">
    Recuperar lo desarrollado en el Módulo 4 del Curso Formación por Competencias. Presentar al menos una rúbrica de evaluación para un Resultado de Aprendizaje.
    Interpretar el concepto de “Indicadores de Logro” en relación a lo desarrollado en el Módulo 4 del Curso Formación por Competencias al trabajar el tema: Rúbrica.
    Se sugiere consultar la bibliografía recomendada en el Módulo 4 del Curso Formación por Competencias.
  </p>
</div>

<div class="py-4"></div>

<h2 class="seccion__encabezado">Correcciones</h2>
<div class="seccion__card">No posee correcciones.</div>


<!-- Modal sistema de evaluacion -->
<div
    class="modal fade"
    id="modal-sistema-evaluacion"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Añadir sistema de de evaluación
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
              <form action="" method="POST">
                {% csrf_token %} {{form.as_p}}

                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-outline-primary"
                        data-dismiss="modal"
                    >
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
              </form>
                <!-- <form
                    method="POST"
                    action="{% url 'planificaciones:propuestaDesarrollo' planificacion.id %}"
                >
                    {% csrf_token %}
                    <input type="hidden" name="form_name" value="resultado_aprendizaje"/>


                    <label>Descripción</label>
                    <p>{{form_resultado_aprendizaje.resultado}}</p>

                    {% if form_resultado_aprendizaje.errors %}
                    <div class="alert alert-danger">
                        {{form_resultado_aprendizaje.errors}}
                    </div>
                    {% endif %}

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-outline-primary"
                            data-dismiss="modal"
                        >
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>



{% endblock %}
