{% extends 'layouts/planificacion_layout.html' %} {% block seccion %}

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
    font-weight: 400;
    font-size: small;
  }
  td {
      cursor: pointer;
  }

  /* The Modal (background) */
.modal {
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(179,206,226,0.6); /* Black w/ opacity */
}




</style>

<h2 class="seccion__encabezado">12. Distribución de Tareas</h2>
<div class="seccion__card">
    <div class="form-group">
        <label class="mt-3">Número de comisiones</label>
        <input type="number" class="form-control" value="{{planificacion.numero_comisiones}}">
    </div>
    <div class="form-group">
        <label class="mt-3">Número de estudiantes (aprox) por comisión</label>
        <input type="number" class="form-control" value="{{planificacion.numero_estudiantes_comision}}">
    </div>

    <p class="mt-3 mb-0">Nómina de profesores:</p>
    {% if profesores %}
    <table class="seccion__table">
        <tbody>
                <thead class="">
                    <tr>
                        <th><b>Nombre y apellido del docente</b></th>
                        <th><b>Categoria</b></th>
                        <th><b>Situación de Revista y/o condición</b></th>
                        <th><b>Designación</b></th>
                        <th><b>Actividad que cumple y comisión</b></th>
                    </tr>
                </thead>

                <tbody>
                     {% for detalleprofesor in profesores %}
                        <tr 

                        onclick="location.href=`{% url 'planificaciones:updateDistribucionDeTareas' planificacion.id detalleprofesor.id %}`" 
                        > 
                            <td>
                                {{detalleprofesor.profesor.nombre|default:""}}
                                {{detalleprofesor.profesor.apellido|default:""}}
                            </td>
                            <td>{{detalleprofesor.categoria|default:""}}</td>
                            <td>{{detalleprofesor.situacion|default:""}}</td>
                            <td>{{detalleprofesor.dedicacion|default:""}}</td>
                            <td style="text-align: left;">
                                {{ detalleprofesor.actividades | default:""}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </tbody>
    {% else %}
        <div class="seccion__card" style="background-color: gainsboro;">
            Aún no se asignaron profesores.
        </div>
    {% endif %}

    <p class="mt-3 mb-0">Nómina de auxiliares:</p>
    {% if profesores_auxiliares %}
        <table class="seccion__table">
            <tbody>
                    <thead class="">
                        <tr>
                            <th><b>Nombre y apellido del docente</b></th>
                            <th><b>Categoria</b></th>
                            <th><b>Situación de Revista y/o condición</b></th>
                            <th><b>Designación</b></th>
                            <th><b>Actividad que cumple y comisión</b></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for detalleprofesor in profesores_auxiliares %}
                            <tr onclick="location.href=`{% url 'planificaciones:updateDistribucionDeTareas' planificacion.id detalleprofesor.id %}`" > 
                                <td>
                                    {{detalleprofesor.profesor.nombre|default:""}}
                                    {{detalleprofesor.profesor.apellido|default:""}}
                                </td>
                                <td>{{detalleprofesor.categoria|default:""}}</td>
                                <td>{{detalleprofesor.situacion|default:""}}</td>
                                <td>{{detalleprofesor.dedicacion|default:""}}</td>
                                <td style="text-align: left;">
                                    {{ detalleprofesor.actividades | default:""}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </tbody>
        </table>
    {% else %}
        <div class="seccion__card" style="background-color: gainsboro;">
            Aún no se asignaron profesores auxiliares.
        </div>
    {% endif %}

    {% if mensaje_exito %}
      <div id="mensaje_exito" class="alert alert-success mt-1">{{mensaje_exito}}</div>
    {% endif %}
    {% if mensaje_error %}
      <div id="mensaje_error" class="alert alert-danger mt-1">{{mensaje_error}}</div>
    {% endif %}

    <!-- Abrir modal docente -->
    <button
        type="button"
        class="btn btn-primary mt-4"
        data-toggle="modal"
        data-target="#modal-docente"
    >
        Añadir docente
    </button>
</div>


<div class="py-4"></div>

<h2 class="seccion__encabezado">Correcciones</h2>
<div class="seccion__card">No posee correcciones.</div>




<!-- Modal docente -->
<div
    class="modal fade"
    id="modal-docente"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Añadir docente
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
              <form
              method="POST"
              action="{% url 'planificaciones:distribucionDeTareas' planificacion.id %}"
              >
                  {% csrf_token %} 
                  
                  <label>Nombre del profesor/a:</label>
                  <p>{{form.nombre_profesor}}</p>

                  <label>Apellido del profesor/a:</label>
                  <p>{{form.apellido_profesor}}</p>
                  
                  <label>Categoría:</label>
                  <p>{{form.categoria}}</p>

                  <label>Situación y/o condición:</label>
                  <p>{{form.situacion}}</p>

                  <label>Designación y/o dedicación:</label>
                  <p>{{form.dedicacion}}</p>

                  <label>Tareas:</label>
                  <p>{{form.tareas}}</p>

                  <label>Actividades:</label>
                  <p>{{form.actividades}}</p>

              
                  {% if form.errors %}
                  <div class="alert alert-danger">{{form.errors}}</div>
                  {% endif %}
              
                  <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-outline-primary"
                            data-dismiss="modal"
                        >
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
              </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal-docente" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir docente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
        method="POST"
        action="{% url 'planificaciones:distribucionDeTareas' planificacion.id %}"
        >
            {% csrf_token %} 
            
            <label>Nombre del profesor/a:</label>
            <p>{{form.nombre_profesor}}</p>

            <label>Apellido del profesor/a:</label>
            <p>{{form.apellido_profesor}}</p>
            
            <label>Categoría:</label>
            <p>{{form.categoria}}</p>

            <label>Situación y/o condición:</label>
            <p>{{form.situacion}}</p>

            <label>Designación y/o dedicación:</label>
            <p>{{form.dedicacion}}</p>

            <label>Tareas:</label>
            <p>{{form.tareas}}</p>

            <label>Actividades:</label>
            <p>{{form.actividades}}</p>

        
            {% if form.errors %}
            <div class="alert alert-danger">{{form.errors}}</div>
            {% endif %}
        
            <div class="modal-footer">
                <button  id="cerrar-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Añadir docente</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
const modal = document.getElementById("modal-docente");
const addButton = document.getElementById("añadir-docente-button");
const closeSpan = document.getElementsByClassName("close")[0];
const closeButton = document.getElementById("cerrar-modal");


// When the user clicks on the button, open the modal 
addButton.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
closeSpan.onclick = function() {
  modal.style.display = "none";
}

closeButton.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// Delete messages after 5 seconds
const mensajeExito = document.getElementById("mensaje_exito");
const mensajeError = document.getElementById("mensaje_error");
setTimeout(function(){ 
  if(mensajeExito) mensajeExito.style.display = "none";
  if(mensajeError) mensajeError.style.display = "none";
}, 5000);

</script>



{% endblock %}
